<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" href="/views/style.css" rel="stylesheet">
    <title> Global Chat </title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <ul id="messages"></ul>
    <form id="chat">
      <input id="input" type="text" placeholder="What's going on?" name="message">
      <button type="submit"> SEND </button>
    </form>
    <script>
    var socket = io();

    function message_to_server(e){
      e.preventDefault(); // prevent from page refresh
      var message = document.getElementById('input').value;
      message = message;
      // send input value to server as type 'message'
      socket.emit('message', message);
      // reset input value
      document.getElementById('input').value = '';
    }

    function show_message(data){
      var li = document.createElement("li");
      li.innerText = data;
      document.getElementById("messages").appendChild(li);
    }

    // starts function when submit is pushed
    document.getElementById("chat").addEventListener("submit", (ev) =>{
      message_to_server(ev);
    })

    // show message to client
    socket.on('message', (data) =>{
      show_message(data)
    })

    </script>
  </body>
</html>
