<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" href="/views/style.css" rel="stylesheet">
    <title> Simple Chat </title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <form id="username" action="/" method="post">
      <input type="text" placeholder="username" name="username" required>
      <button id="username_button" type="submit"> ENTER CHAT </button>
    </form>
    <script>

    </script>
  </body>
</html>
